
      
        <link rel="stylesheet"  href="/style.css">


<div class="popup" id="popup" style="display: none;">
    <div class="popup-content">
        <h1>Корзина</h1>
        <p class="visit-date">Дата посещения: 05.06.23</p>
        <div class="ticket">
            <span>1 Детский</span>
            <div class="ticket-controls">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <span>250 ₽</span>
        </div>
        <div class="ticket">
            <span>1 Взрослый</span>
            <div class="ticket-controls">
                <button>-</button>
                <span>1</span>
                <button>+</button>
            </div>
            <span>500 ₽</span>
        </div>
        <div class="promo-code">
            <input type="text" placeholder="Промокод">
            <button>Применить</button>
        </div>
        <div class="total">
            <span>Итого</span>
            <span>750 ₽</span>
        </div>
        <input type="email" placeholder="Укажите email для получения билетов">
        <button class="pay-button">Перейти к оплате</button>
        <div class="agreement">
            <input type="checkbox" id="agreement">
            <label for="agreement">Я даю согласие на Обработку персональных данных и соглашаюсь с политикой конфиденциальности</label>
        </div>
        <button id="closePopupButton">Закрыть</button>
    </div>
</div>

