.body{
  background: #fff9f4;
  width: 1920px;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.logo{
  display: flex;
  box-sizing: border-box;
  width: 103px;
  height: 101px;
  position: relative;
  object-fit: cover;
  float: left;
  margin-left: 15%;
  margin-top: 5px;
}
header > h1{
  float: left;
  margin-left: 3px;
  margin-top: 33px;
  color: #591102;
  text-align: left;
  font-family: "Junegull-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  
  

}
header > a {
  left: 470px;
  margin-left: 10px;
  top: 45px;
  color: #224002;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 16px;
  background-color: transparent;
  
  position: relative;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .logo {
    width: 90px;
    height: 88px;
    margin-left: 10%;
  }

  header > h1 {
    font-size: 28px;
    margin-top: 30px;
  }

  header > a {
    left: 150px;
    top: 40px;
  }
}

@media (max-width: 992px) {
  .logo {
    width: 80px;
    height: 78px;
    margin-left: 5%;
  }

  header > h1 {
    font-size: 24px;
    margin-top: 25px;
  }

  header > a {
    left: 100px;
    top: 35px;
    font-size: 12px;
    
  }
}

@media (max-width: 768px) {
  .logo {
    width: 70px;
    height: 68px;
    margin-left: 3%;
  }

  header > h1 {
    font-size: 20px;
    margin-top: 20px;
  }

  header > a {
    left: 300px;
    top: 30px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 60px;
    height: 58px;
    margin-left: 1%;
    float: none;
    display: block;
    margin: 0 auto;
  }

  header > h1 {
    font-size: 18px;
    margin-top: 15px;
    text-align: center;
    float: none;
  }

  header > a {
    left: 0;
    margin-left: 0;
    top: 25px;
    text-align: center;
    display: block;
    position: relative;
  }
}

.page-title {
  text-align: center;
}

.slider {
  margin: 100px 100px 0px 255px;
  padding: 50px;
  width: 1350px;
  transition: 0.5s;
  background-color:#224002;

}

.slider:hover {
 
  transition: 0.5s;
}

.item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: white;
}

.item_col {
  top: 100px;
  color: #ffffff;
  text-align: left;
  font-family: "Junegull-Regular", sans-serif;
  font-size: 32px;
  
  position: relative;
 
}

.btn {
  padding: 10px;
  background-color: #fff;
  background: transparent;
  color: #ffffff;
  text-align: left;
  font-family: "Manrope-Regular", sans-serif;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}

.btn:hover {
  background-color: #224002;
  transition: 0.5s;
}

.slider .item img {
  object-fit: cover;
  width: 50%;
  height: 400px;
  
}

.previous, .next {
  align-self: center;
  cursor: pointer;
  transition: 0.5s;
}

.arrow_mobile {
  display: none;
}

.previous:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.slider .item {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Media Queries for 1200px width */
@media (max-width: 1200px) {
  .slider {
    margin: 50px 50px 0px 50px;
    width: 1100px;
    padding: 30px;
  }

  .item_col {
    font-size: 28px;
  }

  .slider .item img {
    width: 100%;
    height: 300px;
  }
}

/* Media Queries for 600px width */
@media (max-width: 600px) {
  .slider {
    margin: 20px 20px 0px 20px;
    width: auto;
    padding: 20px;
  }

  .item {
    flex-direction: column;
    align-items: center;
  }

  .item_col {
    top: 0;
    font-size: 24px;
    text-align: center;
  }

  .slider .item img {
    width: 100%;
    height: 200px;
  }

  .previous, .next {
    align-self: center;
    padding: 10px;
  }

  .arrow_mobile {
    display: block;
  }
}



h1 {
  font-weight: 600;
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}
h3 {
  font-weight: 600;
}
.calendar {
  margin: 0px 20px 30px 25px;
  width: 98%;
  max-width: 380px;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.calendar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.calendar nav {
  display: flex;
  align-items: center;
}
.calendar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.calendar ul li {
  width: calc(100% / 7);
  margin-top: 25px;
  position: relative;
  z-index: 2;
}
#prev,
#next {
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}
#prev::before,
#next::before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: #ccc;
}
#next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}
#prev:hover::before,
#next:hover::before {
  border-color: #000;
}
.days {
  font-weight: 600;
}
.dates li.today {
  color: #fff;
}
.dates li.today::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
  z-index: -1;
}
.dates li.inactive {
  color: #ccc;
}

.calendar header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar nav {
  display: flex;
  align-items: center;
}

.calendar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 0;
}

.calendar ul li {
  width: calc(100% / 7);
  margin-top: 25px;
  position: relative;
  z-index: 2;
}



#prev,
#next {
  width: 20px;
  height: 20px;
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
}

#prev::before,
#next::before {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  border-color: #ccc;
}

#next::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

#prev::before {
  transform: translate(-50%, -50%) rotate(-135deg);
}

#prev:hover::before,
#next:hover::before {
  border-color: #000;
}

.days {
  font-weight: 600;
}

.dates li.today {
  color: #fff;
}

.dates li.today::before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
  z-index: -1;
}

.dates li.inactive {
  color: #ccc;
}
.back{
  background:transparent;
  border-radius: 20px;
  height:  600px;
  position: relative;
  margin: 40px 225px 0px 260px;
  padding: 10px 0 0 0 ;
  display: flex;
 
  
  
}
/* Медиазапрос для ширины 1200 пикселей */
@media (max-width: 1200px) {
  .back {
    margin: 40px 100px 0px 100px;
  }
  .calendar {
    max-width: 300px;
  }
}

/* Медиазапрос для ширины 600 пикселей */
@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .calendar {
    margin: 0px 10px 20px 10px;
    width: 100%;
    max-width: none;
    padding: 0.5rem;
  }
  .calendar ul li {
    margin-top: 15px;
  }
  .back {
    margin: 20px 10px 0px 10px;
    height: auto;
    padding: 10px;
    flex-direction: column;
  }
  #prev,
  #next {
    width: 15px;
    height: 15px;
  }
  #prev::before,
  #next::before {
    width: 40%;
    height: 40%;
  }
}

.vizit{
margin-top: 20px;
  color: #224002;
  left: 260px;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 32px;
 
  position: relative;
  text-align: left;
}
.group-59,
.group-59 * {
  box-sizing: border-box;
}
.group-59 {
  position: relative;
}
.rtbs-97-oj-2-u-0-1 {
  width: 222px;
  height: 167px;
  position: absolute;
  left: 460px;
  top: 284px;
  object-fit: cover;
}
.p-hn-li-o-4-x-6-p-4-1 {
  width: 223px;
  height: 167px;
  position: absolute;
  left: 460px;
  top: 9px;
  object-fit: cover;
}
.p-hn-li-o-4-x-6-p-4-2 {
  width: 218.28px;
  height: 231px;
  position: absolute;
  left: 500px;
  top: 291px;
}
.tur {

  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 520px;
  top: 189px;
}
.ama {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 520px;
  top: 469px;
}
._15-00 {
  color: #000000;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 700px;
  top: 20px;
}
._11-00 {
  color: #000000;
  text-align: center;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 700px;
  top: 284px;
}
.vector-1 {
  width: 710.01px;
  height: 4px;
  position: absolute;
  left: 700px;
  top: 230px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.turtel {


  color: #224002;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 800px;
  top: 20px;
  width: 580px;
  height: 200px;
}
.amazon {
  color: #224002;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 800px;
  top: 280px;
  width: 580px;
  height: 237px;
}
.div,
.div * {
  box-sizing: border-box;
}

.news {
  color: #224002;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  left: 260px;
  margin-top: 100px;
}
.zoo {
  color: #224002;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 48px;
  font-weight: 500;
  position: absolute;
  left: 260px;
  top: 2062px;
}
.new1  {
  border-radius: 20px;
  width: 709px;
  height: 437px;
  position: absolute;
  left: 260px;
  top: 1499px;
  object-fit: cover;
}
._05 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  left: 260px;
  top: 620px;

}
._03 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  left: 991px;
  top: 580px;
}
._01 {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  left: 1354px;
  top: 543px;
}
.sum {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  left: 259px;
  top: 550px;
}
.mibib {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1000px;
  top: 1994px;
  width: 345px;
}
.ptic {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 1363px;
  top: 1994px;
  width: 345px;
}
.new2 {
  border-radius: 20px;
  width: 345px;
  height: 436px;
  position: absolute;
  left: 990px;
  top: 1499px;
  object-fit: cover;
}
._10 {
  width: 710px;
  height: 331px;
  position: absolute;
  left: 240px;
  top: 2701px;
  overflow: visible;
}
.pod {
  color: #6e6e6e;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  left: 260px;
  top: 2580px;
}
.new4{
  border-radius: 20px;
  width: 711px;
  height: 474px;
  position: absolute;
  left: 981px;
  top: 2206px;
  object-fit: cover;
}
.new3{
  border-radius: 20px;
  width: 345px;
  height: 437px;
  position: absolute;
  left: 1355px;
  top: 1499px;
  object-fit: cover;
}
.info {
  color: #000000;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 24px;
  line-height: 136.65%;
  font-weight: 500;
  position: absolute;
  left: 260px;
  top: 2212px;
  width: 685px;
  height: 322px;
}
._4 {
  width: 710px;
  height: 331px;
  position: absolute;
  left: 240px;
  top: 2701px;
  overflow: visible;
}
@media (max-width: 1200px) {
  .vizit {
    left: 50px;
    font-size: 28px;
  }

  .rtbs-97-oj-2-u-0-1, .p-hn-li-o-4-x-6-p-4-1, .p-hn-li-o-4-x-6-p-4-2 {
    width: 150px;
    height: 120px;
    left: 300px;
    top: 200px;
  }

  .tur, .ama, ._15-00, ._11-00 {
    left: 300px;
    top: 150px;
    font-size: 18px;
  }

  .vector-1 {
    width: 500px;
    left: 300px;
  }

  .turtel, .amazon {
    left: 550px;
    width: 400px;
  }

  .news, .zoo {
    left: 50px;
    font-size: 36px;
  }

  .new1, .new2, .new3, .new4 {
    width: 500px;
    height: 300px;
    left: 50px;
    top: 1200px;
  }

  ._05, ._03, ._01, .sum {
    left: 50px;
    font-size: 28px;
  }

  .mibib, .ptic {
    left: 550px;
  }

  .pod {
    left: 50px;
  }

  .info {
    left: 50px;
    width: 500px;
  }

  ._4 {
    width: 500px;
    left: 50px;
  }
}

/* Screen width 600px */
@media (max-width: 600px) {
  .vizit {
    left: 20px;
    font-size: 24px;
  }

  .rtbs-97-oj-2-u-0-1, .p-hn-li-o-4-x-6-p-4-1, .p-hn-li-o-4-x-6-p-4-2 {
    width: 100px;
    height: 80px;
    left: 100px;
    top: 100px;
  }

  .tur, .ama, ._15-00, ._11-00 {
    left: 100px;
    top: 100px;
    font-size: 16px;
  }

  .vector-1 {
    width: 300px;
    left: 100px;
  }

  .turtel, .amazon {
    left: 150px;
    width: 200px;
  }

  .news, .zoo {
    left: 20px;
    font-size: 28px;
  }

  .new1, .new2, .new3, .new4 {
    width: 250px;
    height: 200px;
    left: 20px;
    top: 600px;
  }

  ._05, ._03, ._01, .sum {
    left: 20px;
    font-size: 24px;
  }

  .mibib, .ptic {
    left: 200px;
  }

  .pod {
    left: 20px;
  }

  .info {
    left: 20px;
    width: 250px;
  }

  ._4 {
    width: 250px;
    left: 20px;
  }
}
.sliderw {
  margin-left: 420px;
  width: 1000px;
  margin-top: 1300px;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 20px;

  display: flex;
}
.slidesw {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slidew {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  
}
.review {
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 50px;
 
  box-sizing: border-box;
}
.review h3{
  font-size: 24px;
    margin: 0 0 10px;
    color: #333;
}
.review p{
   
    font-size: 16px;
    color: #555;
    margin: 10px;
}
.stars {
  color: gold;
}
.buttons {
  text-align: center;
  margin: 20px 0;
}
.buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.buttons button:hover {
  background-color: #45a049;
}
/* Медиа-запросы для ширины 1200 пикселей */
@media (max-width: 1200px) {
  .sliderw {
    margin-left: 100px;
    width: 900px;
    margin-top: 1000px;
  }
  .review {
    padding: 40px;
  }
}

/* Медиа-запросы для ширины 600 пикселей */
@media (max-width: 600px) {
  .sliderw {
    margin-left: 20px;
    width: 90%;
    margin-top: 500px;
    flex-direction: column;
  }
  .slidew {
    flex-direction: column;
    gap: 10px;
  }
  .review {
    padding: 20px;
  }
  .review h3 {
    font-size: 20px;
  }
  .review p {
    font-size: 14px;
  }
  .buttons button {
    padding: 8px 16px;
    margin: 5px 0;
  }
}
.subscription-container {
  text-align: center;
}
.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.subscription-form input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #8bc34a; /* Border color similar to the button */
  border-radius: 5px;
}
.subscription-form button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #8bc34a; /* Button color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.subscription-form button:hover {
  background-color: #7cb342;
}
.subscription-terms {
  margin-top: 10px;
  font-size: 12px;
  color: #6b6b6b;
}

.footer {
    margin-top: 70px;
    background-color: #4f8b2c;
    position: relative;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 200px; /* отступ слева */
    padding-right: 200px; /* отступ справа */
}
.footer-column {
    flex: 1;
    padding: 10px;
    min-width: 150px;
}
.footer-column h3 {
    margin-top: 0;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column ul li {
    margin: 5px 0;
}
.contact-info {
    text-align: center;
}
.contact-info p {
    margin: 5px 0;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}


nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 10px 0 15px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 100px;
  
  padding: 10px;
}

.section img {
  height: 305px;
  position: relative;
  object-fit: cover;
}

.section .content {
  flex: 2 1 500px;
  padding: 1px;
}



.section h2 {
  bottom: 25px;
  padding-left: 20px;
  color: #000000;
  text-align: left;
  font-family: "Manrope-SemiBold";
  font-size: 36px;
  
  
  position: relative;
}

.section p {
  padding-left: 20px;
  bottom: 50px;
  color: #000000;
  text-align: left;
  font-family: "Manrope-Regular";
  font-size: 20px;
  
  position: relative;
  
}

@media (max-width: 768px) {
  .section {
      flex-direction: column;
      text-align: center;
  }
}

@media (max-width: 480px) {
  nav ul li {
      display: block;
      margin: 10px 0;
  }
  
  .section img {
      flex: 1 1 auto;
  }
  
  .section .content {
      flex: 1 1 auto;
  }
}
.a{
  top: 100px;
  right: 223px;
  color: #224002;
  text-align: left;
  font-family: "Manrope-Medium", sans-serif;
  font-size: 16px;
  
  position: relative;
  text-decoration: none;
  background-color: transparent;
}
.b {
 margin: 0 0 20px 870px;
  background-color: #556B2F;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .b {
    margin: 0 0 20px 500px; /* Пример изменения отступов для экрана 1200px */
  }
}

@media (max-width: 600px) {
  .b {
    
    margin: 0 0 20px 25px; /* Пример изменения отступов для экрана 600px */
    padding: 10px 20px; /* Пример изменения отступов внутри элемента */
    font-size: 14px; /* Пример изменения размера шрифта для экрана 600px */
  }
}
.map{
  width: 1000px; height: 500px; margin: 100px 0 300px 450px ;
}
/* Адаптив для ширины 1200 пикселей */
@media (max-width: 1200px) {
  .map {
    width: 800px;
    height: 400px;
    margin: 80px 0 240px 300px;
  }
}

/* Адаптив для ширины 600 пикселей */
@media (max-width: 600px) {
  .map {
    width: 300px;
    height: 300px;
    margin: 40px 0 150px 100px;
  }
}

#openPopupButton {
  padding: 10px 20px;
  color: #224002;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

@media (min-width: 1200px) {
  .popup-content {
      max-width: 1200px;
  }
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.visit-date {
  margin-bottom: 20px;
  font-size: 18px;
}

.ticket {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.ticket-controls {
  display: flex;
  align-items: center;
}

.ticket-controls button {
  border: none;
  background: #8bc34a;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;
}

.ticket-controls span {
  margin: 0 10px;
  font-size: 16px;
}

.promo-code {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.promo-code input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.promo-code button {
  padding: 10px 20px;
  background: #8bc34a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

input[type="mail"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.pay-button {
  width: 100%;
  padding: 15px;
  background: #8bc34a;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.agreement {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.agreement input {
  margin-right: 10px;
}

#closePopupButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
