.page .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1232px;
    height: fit-content;
    box-sizing: border-box;
  }
  .page .container-1 {
    background: #477302;
    position: relative;
    margin: 0 721px 110px 0;
    display: flex;
    padding: 217px 318.7px 215px 0;
    width: 721px;
    box-sizing: border-box;
  }
  .page .container-2 {
    margin: 0 0 25px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 282.7px;
    box-sizing: border-box;
  }
  .container {
    background: #FFF9F4;
    display: flex;
    padding-top: 12px;
    width: 1920px;
    box-sizing: border-box;
  }
  .page .rtbs-97-oj-2-u-01 {
    background: url('../assets/images/rtbs_97_oj_2_u_02.jpeg');
    margin: 0 0 18px 1px;
    width: 222px;
    height: 167px;
  }
  .page .container-1 {
    margin: 0 1103.8px 50px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 48px;
    color: #224002;
  }
  .page .container-2 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-3 {
    margin: 0 1241.7px 62px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 48px;
    color: #224002;
  }
  .page .container-4 {
    margin: 0 1414.9px 18px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 48px;
    color: #224002;
  }
  .page .xuji-14-th-u-8-o-1 {
    border-radius: 20px;
    background: url('../assets/images/xuji_14_th_u_8_o_2.jpeg');
    width: 709px;
    height: 437px;
  }
  .page .container-5 {
    margin-right: 22px;
    width: 709px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 32px;
    color: #000000;
  }
  .page .container-6 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 32px;
    color: #000000;
  }
  .page .container-7 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 32px;
    color: #000000;
  }
  .page .container-8 {
    margin: 0 13.5px 27px 0;
    display: inline-block;
    width: 717.5px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .page .container-9 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .page .container-10 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .page .container-11 {
    border-radius: 20px;
    background: url('../assets/images/image_1.jpeg');
    margin-top: 1px;
    width: 345px;
    height: 436px;
  }
  .page .container-12 {
    margin: 0 1275px 57px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 48px;
    color: #000000;
  }
  .page .container-13 {
    margin: 0 297.3px 23px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 48px;
    color: #224002;
  }
  .page .container-14 {
    margin: 0 2px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-15 {
    margin-top: 6px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-16 {
    margin-bottom: 34px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-17 {
    margin-right: 11.2px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-18 {
    margin-top: 27px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-19 {
    margin: 27px 13.5px 0 0;
    display: inline-block;
    width: 349.5px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-20 {
    margin-top: 27px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-21 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: underline;
    color: #FFF9F4;
  }
  .page .container-22 {
    margin-left: 989.6px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-23 {
    margin: 13px 0 21px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-24 {
    margin-bottom: 34px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-25 {
    margin: 6px 13.5px 0 0;
    display: inline-block;
    width: 351.5px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-26 {
    margin-right: 7.5px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-27 {
    margin-top: 6px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-28 {
    margin-bottom: 34px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFF9F4;
  }
  .page .container-29 {
    margin-bottom: 59px;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    color: #000000;
  }
  .page .email {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    color: #767676;
  }
  .page .container-30 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    color: #FFF9F4;
  }
  .page .phn-li-o-4-x-6-p-41 {
    background: url('../assets/images/phn_li_o_4_x_6_p_43.jpeg') 50% / cover no-repeat;
    margin-bottom: 13px;
    width: 223px;
    height: 167px;
  }
  .page .container-31 {
    margin-bottom: 68px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .page .container-32 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .page .container-33 {
    margin-right: 13.5px;
    width: 322.5px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #737373;
  }
  .page .container-34 {
    margin: 4px 38.4px 131px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .page .container-35 {
    margin: 4px 38.4px 158px 0;
    display: inline-block;
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #000000;
  }
  .page .vector-1 {
    margin-bottom: 49px;
    width: 710px;
    height: 4px;
  }
  .page .container-36 {
    margin: 0 1px;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #6E6E6E;
  }
  .page .container-37 {
    border-radius: 10px;
    border: 1px solid #477302;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 26px 25px 69px 31px;
    box-sizing: border-box;
  }
  .page .container-38 {
    margin-bottom: 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--token-font-family, 'Manrope');
    font-weight: var(--token-font-weight, 600);
    font-size: var(--token-font-size, 36px);
    color: #143928;
  }
  .page .group-5 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    column-gap: 4px;
    width: 126px;
    box-sizing: border-box;
  }
  .page .vector-11 {
    width: 22px;
    height: 19px;
  }
  .page .vector-12 {
    width: 22px;
    height: 19px;
  }
  .page .vector-13 {
    width: 22px;
    height: 19px;
  }
  .page .vector-14 {
    width: 22px;
    height: 19px;
  }
  .page .vector-15 {
    width: 22px;
    height: 19px;
  }
  .page .container-39 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--token-1-font-family, 'Manrope');
    font-weight: var(--token-1-font-weight, 400);
    font-size: var(--token-1-font-size, 20px);
    color: #000000;
  }
  .page .ellipse-5 {
    border-radius: 50.5px;
    background: #D9D9D9;
    width: 101px;
    height: 101px;
  }
  .page .container-40 {
    border-radius: 10px;
    border: 1px solid #477302;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 26px 25px 69px 31px;
    box-sizing: border-box;
  }
  .page .container-41 {
    border-radius: 10px;
    border: 1px solid #477302;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 26px 25px 96px 31px;
    box-sizing: border-box;
  }
  .page .container-42 {
    border-radius: 10px;
    border: 1px solid #477302;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 26px 25px 69px 31px;
    box-sizing: border-box;
  }
  .page .container-44 {
    margin-bottom: 108px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Junegull', 'Roboto Condensed';
    font-weight: 400;
    font-size: 64px;
    color: #FFFFFF;
  }
  .page .container-45 {
    margin-left: 6.8px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
  }
  .page .rectangle-66 {
    border-radius: 10px;
    border: 1px solid #FFF9F4;
    position: absolute;
    left: 123px;
    bottom: 196px;
    width: 223px;
    height: 66px;
  }
  .page .group-45 {
    width: 26px;
    height: 11px;
  }
  .page .group-46 {
    width: 26px;
    height: 11px;
  }
  .page .group-52 {
    position: relative;
    display: flex;
    padding: 0 5px 5px 0;
    width: 405px;
    box-sizing: border-box;
  }
  .page .rectangle-161 {
    filter: blur(5px);
    background: #D9D9D9;
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 404px;
    height: 404px;
  }
  .page .container-46 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 32px;
    color: #477302;
  }
  .page .vector-3 {
    margin: 9px 0 8px 0;
    width: 15px;
    height: 27px;
  }
  .page .vector-4 {
    margin: 10px 0 7px 0;
    width: 15px;
    height: 27px;
  }
  .page .container-47 {
    margin-right: 9.5px;
    width: 34.5px;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
  }
  .page .container-48 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
  }
  .page .container-49 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
  }
  .page .container-50 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
  }
  .page .container-51 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
  }
  .page .container-52 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: #FF1515;
  }
  .page .container-53 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 16px;
    color: #FF1515;
  }
  .page .container-54 {
    margin: 1px 22.3px 0 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #A3A3A3;
  }
  .page .container-55 {
    margin-bottom: 1px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #A3A3A3;
  }
  .page .container-56 {
    margin-bottom: 2px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #A3A3A3;
  }
  .page .container-57 {
    margin: 1px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-58 {
    margin-right: 11.5px;
    width: 31.5px;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-59 {
    margin-right: 11.5px;
    width: 31.5px;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-60 {
    margin-right: 20.3px;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-61 {
    margin-right: 11.5px;
    width: 33.5px;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-62 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-63 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-64 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-65 {
    margin-right: 22.3px;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-66 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-67 {
    margin-right: 22.3px;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-68 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-69 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-70 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-71 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-72 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-73 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-74 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-75 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-76 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-77 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-78 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #FF1515;
  }
  .page .container-79 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #FF1515;
  }
  .page .container-80 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #FF1515;
  }
  .page .container-81 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #A3A3A3;
  }
  .page .container-82 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #FF1515;
  }
  .page .container-83 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #FF1515;
  }
  .page .container-84 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #FF1515;
  }
  .page .container-85 {
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #A3A3A3;
  }
  .page .container-86 {
    margin: 1px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #4D4D4D;
  }
  .page .container-87 {
    margin: 1px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #FF1515;
  }
  .page .container-88 {
    margin: 1px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Artegra Sans', 'Roboto Condensed';
    font-weight: 400;
    font-size: 20px;
    color: #FF1515;
  }
  .page .vector-62 {
    margin: 7px 0;
    width: 26px;
    height: 13px;
  }
  .page .container-89 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #224002;
  }
  .page .container-90 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #224002;
  }
  .page .t-5-ok-hl-3-u-5-xa-1 {
    border-radius: 20px;
    background: url('../assets/images/t_5_ok_hl_3_u_5_xa_1.jpeg');
    width: 345px;
    height: 437px;
  }
  .page .container-91 {
    margin-bottom: 94px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
  }
  .page .vector {
    margin: 14px 0;
    width: 32px;
    height: 20px;
  }
  .page .ellipse-8 {
    border-radius: 24px;
    position: absolute;
    top: 0px;
    right: 91px;
    width: 48px;
    height: 48px;
  }
  .page .vector-1 {
    width: 30px;
    height: 24.7px;
  }
  .page .container-3 {
    margin: 0 41px 28px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .page .container-4 {
    margin: 0 62px 28px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .page .container-5 {
    margin: 0 10.4px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-6 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .page .container-7 {
    margin-right: 222.7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1217.3px;
    box-sizing: border-box;
  }
  .page .container-8 {
    position: relative;
    margin-right: 222.7px;
    display: flex;
    width: 1232px;
    box-sizing: border-box;
  }
  .page .container-9 {
    margin: 0 148.5px 7px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1306.1px;
    box-sizing: border-box;
  }
  .page .container-10 {
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .group-56 {
    margin: 0 67.7px 22px 0;
    display: flex;
    flex-direction: row;
    width: 1376.3px;
    box-sizing: border-box;
  }
  .page .group-53 {
    margin: 24px 0 35px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1252.3px;
    height: fit-content;
    box-sizing: border-box;
  }
  .page .container-92 {
    margin-bottom: 20px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    color: #224002;
  }
  .page .container-93 {
    margin-bottom: 20px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    color: #224002;
  }
  .page .container-94 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    color: #224002;
  }
  .page .container-95 {
    margin: 4px 19px 0 0;
    display: inline-block;
    width: 581px;
    overflow-wrap: break-word;
    font-family: 'Junegull', 'Roboto Condensed';
    font-weight: 400;
    font-size: 32px;
    color: #591102;
  }
  .page .container-96 {
    margin-right: 11px;
    width: 75px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    color: #224002;
  }
  .page .container-97 {
    margin-bottom: 20px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 16px;
    color: #224002;
  }
  .page .container-98 {
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 16px;
    color: #224002;
  }
  .page .group-531 {
    margin-right: 21px;
    display: flex;
    width: 103px;
    height: 101px;
    box-sizing: border-box;
  }
  .page .container-99 {
    background: url('../assets/images/image_2.png');
    width: 103px;
    height: 101px;
  }
  .page .container-11 {
    border-radius: 20px;
    background: url('../assets/images/image.jpeg') 50% / cover no-repeat;
    position: relative;
    display: flex;
    width: 711px;
    height: 474px;
    box-sizing: border-box;
  }
  .page .container-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .page .container-13 {
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .page .container-14 {
    margin-bottom: 85px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-100 {
    position: absolute;
    left: 235px;
    bottom: 1803px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 48px;
    color: #224002;
  }
  .page .container-101 {
    position: absolute;
    left: 1px;
    bottom: 0px;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 20px;
    color: #6E6E6E;
  }
  .page .container-102 {
    border-radius: 20px;
    background: url('../assets/images/image.jpeg') 50% / cover no-repeat;
    width: 711px;
    height: 474px;
  }
  .page .container-103 {
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0;
    overflow-wrap: break-word;
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
  }
  .page .container-15 {
    border-radius: 20px;
    background: #F8F1EC;
    position: relative;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
    padding: 37px 0 43px 33px;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-16 {
    margin-bottom: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1454.7px;
    box-sizing: border-box;
  }
  .page .container-17 {
    margin: 0 215.4px 70px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1226.6px;
    box-sizing: border-box;
  }
  .page .container-18 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .page .container-19 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    height: fit-content;
    box-sizing: border-box;
  }
  .page .container-20 {
    margin-bottom: 29px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-21 {
    margin-bottom: 85px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-22 {
    border-radius: 10px;
    border: 2px solid #477302;
    position: relative;
    margin: 0 5px 49px 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 18px 16px 19px;
    width: 399px;
    box-sizing: border-box;
  }
  .page .container-23 {
    background: url('../assets/images/g_5_k_5_kgg_5_k_552.jpeg');
    position: absolute;
    top: 135px;
    right: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 26px 33px 0;
    width: 730px;
    height: 642px;
    box-sizing: border-box;
  }
  .page .container-24 {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .page .container-25 {
    background: #FBF8F8;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 0 41px 0;
    width: 400px;
    height: fit-content;
    box-sizing: border-box;
  }
  .page .container-26 {
    margin-bottom: 116px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-27 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .page .container-28 {
    margin: 0 0 25px 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 284.7px;
    box-sizing: border-box;
  }
  .page .container-29 {
    margin: 0 5.3px 26px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280.4px;
    box-sizing: border-box;
  }
  .page .container-30 {
    margin: 8px 49px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 405px;
    height: fit-content;
    box-sizing: border-box;
  }
  .page .container-31 {
    margin: 0 0 36px 3.3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 263px;
    box-sizing: border-box;
  }
  .page .container-32 {
    margin: 0 0 23px 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 283.7px;
    box-sizing: border-box;
  }
  .page .container-33 {
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .page .container-34 {
    margin: 0 0 97px 2px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-35 {
    background: #477302;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 0 59px 0;
    width: 1920px;
    box-sizing: border-box;
  }
  .page .container-36 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .page .container-37 {
    margin: 0 0 8px 1px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 1439px;
    box-sizing: border-box;
  }
  .page .container-38 {
    margin: 0 62px 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .page .container-39 {
    margin: 9px 20px 26px 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .page .container-40 {
    margin: 0 43.8px 28px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }
  .page .container-41 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 226.3px;
    height: fit-content;
    box-sizing: border-box;
  }
  .page .container-42 {
    margin-bottom: 85px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-43 {
    margin-bottom: 85px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-44 {
    border-radius: 10px;
    border: 2px solid #65A602;
    position: relative;
    margin-right: 16px;
    padding: 18px 22.1px;
    width: 506px;
    box-sizing: border-box;
  }
  .page .container-45 {
    margin: 0 9.9px 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 279.9px;
    box-sizing: border-box;
  }
  .page .container-46 {
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  .page .container-47 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .page .container-48 {
    border-radius: 10px;
    background: #F27405;
    position: relative;
    margin: 0 70px;
    display: flex;
    align-self: flex-start;
    padding: 23px 60.4px 22px 0;
    width: 257px;
    box-sizing: border-box;
  }
  .page .container-49 {
    position: relative;
    display: flex;
    padding: 12px 10px 11.3px 8px;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
  }
  .page .container-50 {
    position: relative;
    margin: 56px 97.5px 0 0;
    display: flex;
    box-sizing: border-box;
  }
  .page .container-51 {
    margin-right: 8.9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 278.9px;
    box-sizing: border-box;
  }
  .page .container-52 {
    margin: 0 10.4px 38px 10.4px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
  }
  .page .container-53 {
    margin-bottom: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 131px;
    height: fit-content;
    box-sizing: border-box;
  }
  .page .container-54 {
    border-radius: 10px;
    background: #477302;
    position: relative;
    display: flex;
    padding: 18px 1px 18px 0;
    width: 188px;
    box-sizing: border-box;
  }
  .page .container-104 {
    margin-bottom: 5px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--token-font-family, 'Manrope');
    font-weight: var(--token-font-weight, 600);
    font-size: var(--token-font-size, 36px);
    color: #143928;
  }
  .page .group-51 {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    width: 126px;
    box-sizing: border-box;
  }
  .page .vector-111 {
    width: 22px;
    height: 19px;
  }
  .page .vector-121 {
    width: 22px;
    height: 19px;
  }
  .page .vector-131 {
    width: 22px;
    height: 19px;
  }
  .page .vector-141 {
    width: 22px;
    height: 19px;
  }
  .page .vector-151 {
    width: 22px;
    height: 19px;
  }
  .page .container-105 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--token-1-font-family, 'Manrope');
    font-weight: var(--token-1-font-weight, 400);
    font-size: var(--token-1-font-size, 20px);
    color: #000000;
  }
  .page .ellipse-51 {
    border-radius: 50.5px;
    background: #D9D9D9;
    width: 101px;
    height: 101px;
  }
  .page .container-106 {
    margin-bottom: 5px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--token-font-family, 'Manrope');
    font-weight: var(--token-font-weight, 600);
    font-size: var(--token-font-size, 36px);
    color: #143928;
  }
  .page .group-52 {
    margin-right: 18.2px;
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    width: 126px;
    box-sizing: border-box;
  }
  .page .vector-112 {
    width: 22px;
    height: 19px;
  }
  .page .vector-122 {
    width: 22px;
    height: 19px;
  }
  .page .vector-132 {
    width: 22px;
    height: 19px;
  }
  .page .vector-142 {
    width: 22px;
    height: 19px;
  }
  .page .vector-152 {
    width: 22px;
    height: 19px;
  }
  .page .container-107 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--token-1-font-family, 'Manrope');
    font-weight: var(--token-1-font-weight, 400);
    font-size: var(--token-1-font-size, 20px);
    color: #000000;
  }
  .page .ellipse-52 {
    border-radius: 50.5px;
    background: #D9D9D9;
    width: 101px;
    height: 101px;
  }
  .page .container-108 {
    margin: 0 16.9px 5px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: var(--token-font-family, 'Manrope');
    font-weight: var(--token-font-weight, 600);
    font-size: var(--token-font-size, 36px);
    color: #143928;
  }
  .page .group-53 {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
    width: 126px;
    box-sizing: border-box;
  }
  .page .vector-113 {
    width: 22px;
    height: 19px;
  }
  .page .vector-123 {
    width: 22px;
    height: 19px;
  }
  .page .vector-133 {
    width: 22px;
    height: 19px;
  }
  .page .vector-143 {
    width: 22px;
    height: 19px;
  }
  .page .vector-153 {
    width: 22px;
    height: 19px;
  }
  .page .container-109 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: var(--token-1-font-family, 'Manrope');
    font-weight: var(--token-1-font-weight, 400);
    font-size: var(--token-1-font-size, 20px);
    color: #000000;
  }
  .page .ellipse-53 {
    border-radius: 50.5px;
    background: #D9D9D9;
    width: 101px;
    height: 101px;
  }